/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    min-height:100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.login-widget{
    align-items:center; text-align: center;width:20em; margin:auto;margin-top:10em;border:1px solid #cdcdcd;
    padding:1em;
    border-radius: 5px;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

.alert{
  background-color: red;
  color:white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.alert-success{
  background-color: green;
  color:white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-page{
  width:80%; margin:auto;margin-top:10em;border:1px solid #cdcdcd;
  padding:1em;
  border-radius: 5px;
}